.highlight td:first-child pre, .highlight pre {
    overflow: auto;
}

.highlight table td:first-child {
    overflow: hidden;
}

pre {
    word-break: normal;
    word-wrap: normal;
}

.intro-header .page-heading .page-subheading {
  font-size: 20px;
  line-height: 1.4em;
}
